
# Dependencies & Build Output
node_modules/
dist/
dist-ssr/
*.local
.vite/

# Python & Cache
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.venv/

# Large Archives & Logs
*.zip
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
